body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}
